<md-sidenav #sidenav mode="push" class="app-sidenav">
    Sidenav
</md-sidenav>
<md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    e-lation

    <a md-button routerLink="/user">User</a>
    <a md-button routerLink="/group">Group</a>
    <a md-button routerLink="/event">Event</a>
    <span class="app-toolbar-filler"></span>
    <a md-button routerLink="/logout" *ngIf="(authenticated | async)">Logout</a>
    <button md-button (click)="login()" *ngIf="!(authenticated | async)">Login</button>
</md-toolbar>