<md-card>
    <md-card-header>
        <img *ngIf="!post?.source" md-card-avatar [src]="post?.user.avatar.data">
        <md-card-title *ngIf="!post?.source"><b>{{post?.user.firstName}} {{post?.user.lastName}}</b></md-card-title>
        <md-card-title *ngIf="post?.source"><b>{{post?.source}}</b></md-card-title>
        <md-card-subtitle>{{post?.date | date:'medium'}}</md-card-subtitle>
    </md-card-header>
    <img *ngIf="!post?.source" md-card-image [src]="post.media[0].data">
    <md-card-content>
        <h4 *ngIf="!post?.source" [ngClass]="{'rtl': post.rtl}">{{post?.title}}</h4>
        <p *ngIf="!post?.source" [ngClass]="{'rtl': post.rtl}">{{post?.body}}</p>
        <a href="{{post?.hyperlink}}" class="app-hypercard-wrapper">
            <md-card-title-group *ngIf="post?.source" [ngClass]="{'app-hypercard': true, 'rtl': post.rtl}">
                <md-card-title>{{post?.title}}</md-card-title>
                <md-card-subtitle>{{post?.body}}</md-card-subtitle>
                <img md-card-md-image [src]="post.media[0].data"/>
            </md-card-title-group>
        </a>
        <md-chip-list>
            <md-chip *ngFor="let tag of post?.tags">
                {{tag}}
            </md-chip>
        </md-chip-list>
    </md-card-content>
    <md-card-actions>
        <button md-button (click)="showComments()">Comment</button>
        <button md-button (click)="likePost(post._id)">Like</button>
        <button md-button (click)="sharePost(post._id)">Share</button>
        <button md-button disabled>{{post.likes?.length}} likes</button>
    </md-card-actions>
    <md-card-footer *ngIf="!hideComments && post.comments?.length > 0">
        <md-list>
            <md-list-item *ngFor="let comment of post.comments | ifTrim:trim:max">
                <p md-line><em><a routerLink="/user/{{comment.user?._id}}">{{comment.user?.firstName}} {{comment.user?.firstName}}</a></em></p>
                <p md-line>{{comment?.text}}</p>
                <p md-line>
                    <span>{{comment?.date | date:'medium'}}</span>
                    <span class="app-filler"></span>
                    <span md-button (click)="likeComment(comment._id)">{{comment.likes?.length}} Likes</span>
                    <span md-button (click)="showChildren(comment._id)" *ngIf="(comment.comments?.length || 0) > 0">{{comment.comments?.length || 0}} Comments</span>
                </p>
                <md-list *ngIf="comment.showChildren || !trim">
                    <md-list-item *ngFor="let subcomment of comment.comments | ifTrim:true:3">
                        <p md-line><em><a routerLink="/user/{{subcomment.user?._id}}">{{subcomment.user?.firstName}} {{subcomment.user?.firstName}}</a></em></p>
                        <p md-line>{{subcomment?.text}}</p>
                        <p md-line>
                            <span>{{subcomment?.date | date:'medium'}}</span>
                            <span class="app-filler"></span>
                            <span md-button (click)="likeSubComment(comment._id, subcomment._id)">{{subcomment.likes?.length}} Likes</span>
                        </p>
                    </md-list-item>
                    <md-list-item>
                        <p md-line *ngIf="comment.comments.length > max">See more comments...</p>
                    </md-list-item>
                </md-list>
            </md-list-item>
        </md-list>
    </md-card-footer>
</md-card>