.divided-list {
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 10px 0px;
}

.divided-list:first-child {
  border-top: 1px solid rgba(0,0,0,.12);
}

.active-tab {
    border-bottom: 2px solid #673AB7;
}

.input-has-value, :not(.input-has-value) .mat-focused {
  margin-top: 16px;
}

textarea {
   resize: none;
   height: 100px;
}