<md-card>
  <md-card-header>
    <img md-card-md-image [src]="(avatar | async)?.data">
    <input type="hidden" #id [ngModel]="_id | async" name="_id">
    <md-card-title>
      <h1>{{name | async}}</h1>
      <button md-icon-button (click)="edit(id.value)"><md-icon>mode_edit</md-icon></button>
    </md-card-title>
  </md-card-header>
  <md-card-actions class="app-action-bar">
    <button md-button (click)="tab(0)" [ngClass]="{'active-tab': activeTab == 0}">About</button>
    <button md-button (click)="tab(1)" [ngClass]="{'active-tab': activeTab == 1}">Members</button>
    <button md-button (click)="tab(2)" [ngClass]="{'active-tab': activeTab == 2}">Posts</button>
    <span class="app-filler"></span>
    <button md-raised-button *ngIf="(members | async)?.indexOf(userId) > -1 || (admins | async)?.indexOf(userId) > -1"
      (click)="post()" [disabled]="writePost">New Post</button>
    <button md-raised-button *ngIf="(members | async)?.indexOf(userId) == -1 && (admins | async)?.indexOf(userId) == -1"
      (click)="join(id.value)">Join</button>
    <button md-raised-button *ngIf="(admins | async)?.indexOf(userId) > -1" (click)="leaveAdmin(id.value)">Leave</button>
    <button md-raised-button *ngIf="(members | async)?.indexOf(userId) > -1" (click)="leaveMember(userId, id.value)">Leave</button>
  </md-card-actions>
</md-card>
<md-card *ngIf="activeTab == 0">
  <md-card-content>
    <p><b>Location: </b>{{ address | async | address }}</p>
    <p>
      <b>Topics: </b>
      <md-chip-list>
        <md-chip *ngFor="let typeName of type | async">{{ typeName }}</md-chip>
      </md-chip-list>
    </p>
    <p>
      <b>Created by: </b>
      <a class="app-link" routerLink="/user/{{(owner | async)?._id}}">{{(owner | async)?.firstName}} {{(owner | async)?.lastName}}</a>
    </p>
    <p>
      <b>Provider: </b>
      <a class="app-link" routerLink="/provider/{{(provider | async)?._id}}">{{(provider | async)?.user.firstName}} {{(provider | async)?.user.lastName}}</a>
    </p>
    <br>
    <p>
      <b>Description:</b>
    </p>
    <p>{{description | async}}</p>
  </md-card-content>
</md-card>
<md-card *ngIf="activeTab == 1">
  <md-card-content>
    <el-people-detail-list [members]="members | async" [admins]="admins | async" [userId]="userId"
      (promote)="promoteAdmin($event, id.value)" (revoke)="revokeAdmin($event, id.value)" (remove)="leaveMember($event, id.value)"></el-people-detail-list>
  </md-card-content>
</md-card>
<div *ngIf="activeTab == 2">
  <el-post-feed [posts]="posts | async" [userId]="userId" [show]="writePost" (newPost)="newPost($event)" (newComment)="postComment($event)"
    (postLiked)="likePost($event)" (commentLiked)="likeComment($event)" (subCommentLiked)="likeSubComment($event)"></el-post-feed>
</div>
<md-card *ngIf="activeTab == 2 && (posts | async)?.length == 0">
  <md-card-content>
    <div class="no-feed-msg">
      <h3>No Posts Yet!</h3>
    </div>
  </md-card-content>
</md-card>