<div class="background">
    <md-card class="login-card">
        <md-card-title>Sign {{(isNewUser | async) ? "up" : "in"}}</md-card-title>
        <md-card-content>
            <p *ngIf="error | async">{{ error | async }}</p>
            <p></p>
            <button (click)="glogin()" class="btn wide btn-social facebook"><md-icon fontSet="fa" fontIcon="fa-facebook"></md-icon>Login via Facebook</button>
            <button (click)="flogin()" class="btn wide btn-social google"><md-icon fontSet="fa" fontIcon="fa-google"></md-icon>Login via Google</button>
        </md-card-content>
        <md-card-actions>
            <p *ngIf="!(isNewUser | async)">Not a user yet? <span (click)="toggleAction()">Sign up</span></p>
            <p *ngIf="isNewUser | async">Already a user? <span (click)="toggleAction()">Sign in</span></p>
        </md-card-actions>
    </md-card>
</div>