<div class="background">
    <md-card class="login-card">
        <md-card-title>Sign in</md-card-title>
        <md-card-content>
            <p>{{ error | async }}</p>
            <form>
                <md-input-container class="wide">
                    <input type="text" placeholder="Username" md-input>
                </md-input-container>
                <md-input-container class="wide">
                    <input type="password" placeholder="Password" md-input>
                </md-input-container>
            </form>
        </md-card-content>
        <md-card-actions align="end">
            <button md-raised-button (click)="login()">Login</button>
        </md-card-actions>
    </md-card>
</div>