.login-card {
  width: 400px;
  position: absolute;
  box-sizing: border-box;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background {
  position: absolute;
  top: 64px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: url("/assets/background.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

md-card-actions > p {
  margin: 0px 0.5em 0.5em 1em;
}

md-card-actions > p > span {
  color: #673ab7;
}

.btn {
    display: inline-block;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn.wide {
    display: block;
    width: 100%;
}

.btn.wide + .btn.wide {
    margin-top: 10px;
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: auto;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}

@media (max-width:600px) and (orientation:portrait) {
  .background {
    top: 56px;
  }
}

@media (max-width:960px) and (orientation:landscape) {
  .background {
    top: 48px;
  }
}