<md-card>
  <md-card-title-group>
    <img md-card-lg-image src="{{(user | async).avatar?.data}}">
    <md-card-title>{{firstName | async}} {{lastname | async}}</md-card-title>
  </md-card-title-group>
  <md-card-content>
    <md-list>
      <md-list-item>
        <p>Email: {{email | async}}</p>
      </md-list-item>
      <md-list-item>
        <p>Phone: {{phone | async}}</p>
      </md-list-item>
      <md-list-item>
        <p>Gender: {{gender | async | gender}}</p>
      </md-list-item>
      <md-list-item>
        <p>Date Of Birth: {{birthday | async | date:'medium'}}</p>
      </md-list-item>
      <md-list-item>
        <p>Address: {{ address | async | address }}</p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>