<md-card>
  <md-card-title-group>
    <img md-card-lg-image src="{{(user | async).avatar?.data}}">
    <md-card-title>
      <span>{{(user | async)?.firstName }} {{(user | async)?.lastName}}</span>
      <md-chip-list>
        <md-chip>Rank: {{ rank | async }}</md-chip>
      </md-chip-list>
    </md-card-title>
    <md-card-subtitle>Address: {{businessAddress | async | address}}</md-card-subtitle>
  </md-card-title-group>
  <md-card-content>
    <md-list>
      <md-list-item>
        <div md-multi-line>About:
          <p class="line-2">{{bio | async}}</p>
        </div>
      </md-list-item>
      <md-list-item>
        <button md-raised-button (click)="toggleContact()">{{(showContact | async) ? "Hide" : "Show"}} Contact Details</button>
      </md-list-item>
      <md-list-item *ngIf="showContact | async">
        <p md-line>Phone: <span class="line-2">{{(user | async)?.phone}}</span></p>
      </md-list-item>
      <md-list-item *ngIf="showContact | async">
        <p md-line>Email: <span class="line-2">{{(user | async)?.email}}</span></p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Reviews</md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let review of reviews | async">
        <p md-line>
          <em><a routerLink="/user/{{review.user?._id}}">{{review.user?.firstName}} {{review.user?.lastName}}</a></em>
          <span class="app-filler"></span>
          <span class="line-2">{{review.date | date:'medium' }}</span>
        </p>
        <p md-line>{{review.text}}</p>
        <p md-line><span class="app-filler"></span><span class="line-2">{{review.rating}}</span></p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>