#app-content {
  padding: 20px 5px 20px 5px;
  margin-left: 5px;
  margin-right: 40px;
  flex: 1 1 auto;
}

#app-sidebar {
  background-color: white;
}

#app-advert {
  min-width: 200px;
  padding-left: 10px;
}

#app-advert img {
  width: 100%;
  height: auto;
}

.app-col {
  align-items: stretch;
}

#app-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh - 64px);
  background-color: rgb(250,249,253);
}

@media (max-width:600px) and (orientation:portrait) {
  #app-sidebar {
    display: none;
  }

  #app-advert {
    display: none;
  }
}

@media (max-width:960px) and (orientation:landscape) {
  #app-sidebar {
    display: none;
  }

  #app-advert {
    display: none;
  }
}