<md-toolbar color="primary">
    <button [ngClass]="{'hidden-block': !(authenticated | async), 'app-icon-button': true}">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    <!--<md-icon svgIcon="e-logo"></md-icon>-->
    <img src="assets/e-logo.png" style="height: 36px; width: 36px">
    <span class="app-button" (click)="goTo('feed')">lation</span>

    <span class="app-filler"></span>
    <div>
        <md-input-container class="app-search-bar">
            <input type="text" mdInput [formControl]="searchBar" [mdAutocomplete]="auto">
            <span mdSuffix> <md-icon fontSet="glyphicon" fontIcon="glyphicon-search"></md-icon></span>
        </md-input-container>
        <button md-button (click)="LoginService.logout()">Logout</button>
    </div>
</md-toolbar>

<md-autocomplete #auto="mdAutocomplete">
    <p md-subheader *ngIf="(results | async)?.providers.length > 0">Providers</p>
    <md-option *ngFor="let result of (results | async)?.providers" (onSelect)="goToProvider(result)" value="">
        <span>{{ result.user.firstName }} {{ result.user.lastName }}</span>
    </md-option>
    <p md-subheader *ngIf="(results | async)?.users.length > 0">Users</p>
    <md-option *ngFor="let result of (results | async)?.users" (onSelect)="goToUser(result)" value="">
        <span>{{ result.firstName }} {{ result.lastName }}</span>
    </md-option>
    <p md-subheader *ngIf="(results | async)?.groups.length > 0">Groups</p>
    <md-option *ngFor="let result of (results | async)?.groups" (onSelect)="goToGroup(result)" value="">
        <span>{{ result.name }}</span>
    </md-option>
    <p md-subheader *ngIf="(results | async)?.events.length > 0">Events</p>
    <md-option *ngFor="let result of (results | async)?.events" (onSelect)="goToEvent(result)" value="">
        <span>{{ result.name }}</span>
    </md-option>
    <!--<p md-subheader *ngIf="(results | async)?.posts.length > 0">Posts</p>
    <md-option *ngFor="let result of (results | async)?.posts" (onSelect)="goTo('provider', result)" [value]="result">
        <span>{{ result.title }}</span>
    </md-option>-->
</md-autocomplete>