md-toolbar, md-toolbar > :not([md-button]) {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  cursor: default;
}

md-toolbar {
  padding-right: 0px;
}

.hidden-block {
  visibility: hidden;
}

.app-search-bar > .mat-input-wrapper > .mat-input-table > .mat-input-infix {
  padding-right: 10px!important; 
}

.app-search-bar > .mat-input-wrapper > .mat-input-table > .mat-input-infix > input {
  padding-top: 5px!important;
  padding-left: 5px!important;
  padding-right: 5px!important; 
}

.app-toolbar-menu {
  padding: 6px 10px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0 10px 0 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
span[mdSuffix] {
    box-shadow: 0 -7px 8px 3px rgba(0,0,0,.14);
}