
<md-card>
  <md-card-header>
    <img md-card-avatar src="https://img.clipartfest.com/377cb8d0d8ddbb3467fb9ea2c6dd323a_soccer-team-clipart-soccer-team-clipart_1500-1107.jpeg">
    <md-card-title>
      <h1> {{name}} Group</h1>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-chip-list>
      <md-chip *ngFor="let type of groupType">{{ type }}</md-chip>
    </md-chip-list>
    <p> in {{address.country}} {{address.city}}</p>
    <p> by {{owner.firstName}} {{owner.lastName}}</p>
    <p> {{description}}</p>
    <p>{{provider.user.firstName}} {{provider.user.lastName}}</p>

    <el-people-list [members]="members" [admins]="admins"></el-people-list>

  </md-card-content>
</md-card>

