<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <<%= htmlWebpackPlugin.options.appMountId %>>Loading...</<%= htmlWebpackPlugin.options.appMountId %>>
  </body>
</html>